/*
* { border: 1px solid limegreen; } */
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

body {
  background: black url("../images/mortalcombat.jpeg") no-repeat scroll 50% 20%;
  /* background-image: url("../images/mortalcombat.jpeg");
  background-repeat: no-repeat; */

  /* background-size: cover;
  background-color: #222; */
  padding: 0;
  font-family: 'Cairo', sans-serif;
  min-height: 100vh;

}

h1{
  font-size: 100px;
  text-align: center;
}
h3 {
  font-size: 50px;
  align-self: center;
}
#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.board {
  margin-top: 150px;
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  width:  21rem;
  height: 21rem;
}

.cell {
  font-family:  "Akronim", cursive, sans-serif;
  display: block;
  border: 1px solid black;
  text-align: center;
  color: black;
  font-size: 9rem;
  height: 7rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease-in-out;
}

.cell:hover{
  background: rgb(68, 68, 68);
  opacity: 0.2;
}

#restart{
  font-family:  "Akronim", cursive, sans-serif;
  align-self: center;
  width: 15rem;
  height: 3rem;
  margin-top: 15rem;
  background-color: blue;
  border-radius: 30%;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  border: 5px solid #ffffff5e;
  transition: all 0.3s ease-in-out;
  opacity: 0.3;
}
#restart:hover{
  background-color: #0de7a6;

}

#restart:active{
  transition: unset;
  background-color: grey;

}

.cross--x::before{
  position: absolute;
  display: block;
  content: "";
  background-color: #FF0000;
  width: 7rem;
  height: 8px;
  margin-top: 3rem;
}
.cross--y::before{
  position: absolute;
  display: block;
  content: "";
  background-color: #FF0000;
  width: 8px;
  height: 7rem;
  margin-left: 3.5rem;
}
.cross--diagonal-a::before{
  position: absolute;
  display: block;
  content: "";
  background-color: #FF0000;
  width: 29rem;
  height: 8px;
  margin-left: -11rem;
  margin-top: 3.2rem;
  transform: rotate(45deg);
}
.cross--diagonal-b::before{
  position: absolute;
  display: block;
  content: "";
  background-color: #FF0000;
  width: 29rem;
  height: 8px;
  margin-left: -11rem;
  margin-top: 3.2rem;
  transform: rotate(-45deg);
}

@media screen and (max-width: 750px) {
  body {
    background-image: url("../images/mortalcombat.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
  }
  h1 {
    font-size: 40px;
    margin-top: 70px;
  }
  h3 {
    font-size: 25px;
    margin-top: 20px;
  }
  #restart {
    margin-top: 3rem;
  }
  .board {
    margin-top: 5px;
  }

}
